process {
    withLabel: big_mem {
        cpus = 8
        memory = 50.GB
        queue = 'long'
    }
}

process {
    withName:FASTQC {
        container = 'szymkoo0149/shortstack_mirtrace:1.0'
    }
    withName:MULTIQC {
        container = 'szymkoo0149/shortstack_mirtrace:1.0'
    }
    withName:RUN_SHORTSTACK {
        container = 'szymkoo0149/shortstack_mirtrace:1.0'
    }
    withName:MIRTRACE {
        container = 'szymkoo0149/shortstack_mirtrace:1.0'
    }
}

docker {
    enabled = true
}
